#color-splash {
	width: 800px;
	height: 800px;
	border: 1px solid grey;
}

#color-splash #playground {
	border: 1px solid grey;
	width: 600px;
	height: 600px;
	position: relative;
	margin-top: 50px;
	margin-left: 100px;
}

#color-splash #playground .cell {
	width: 100px;
	height: 100px;
	border: 1px solid grey;
	color:	transparent;
}

#color-splash [data-color="blue"]{
	background-color: blue;
}

#color-splash [data-color="red"] {
	background-color: red;
}

#color-splash [data-color="green"] {
	background-color: green;
}

#color-splash [data-color="yellow"] {
	background-color: yellow;
}

#color-splash [data-color="purple"] {
	background-color: purple;
}

#color-splash [data-color="orange"] {
	background-color: orange;
}

#color-splash .color-button {
	height: 50px;
	width: 50px;
	border: 1px solid grey;
	display: inline-block;
	cursor: pointer;
}